# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules
bun.lockb

# Coverage directory used by tools like istanbul
coverage

.tmp
_docpress
.DS_Store

# Visual Studio Code configs
.vscode/

