name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node:
          - '12'
          - '14'
          - '16'
        platform:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    name: '${{matrix.platform}} / Node.js ${{ matrix.node }}'
    runs-on: ${{matrix.platform}}

    steps:
    - name: Checkout Commit
      uses: actions/checkout@v1
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: checkout main
      run: git branch -f main origin/main
    - name: install pnpm
      run: npm install --global @pnpm/exe@6
    - name: pnpm install
      run: pnpm install --no-frozen-lockfile
    - name: run tests
      run: pnpm -r --no-bail test
